div.home-top-section,
div.home-middle-section
{
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	justify-items: stretch;
	align-items: center;
	margin: 0 0 200px 0;
}

div.detail-img {
	margin-bottom: 15px;
}

div.member-name {
	margin-top: 15px;
}

