div.nav-bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 0 auto;
	padding: 0 61px;
	background: #364F6B;
	height: 90px;
	font-size: 1em;
	/*
	position: sticky;
	top: 0;
	*/
	z-index: 2;
}

div.search-bar {
	flex-grow: 2;
	display: flex;
	flex-direction: row;
}

div.nav-bar-right {
	flex-grow: 3;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;

	div {
		margin-left: 7%;
	}
}

div.nav-bar-blank-space {
	width: 80px;
}